.vscode

# Frontend
frontend/.vite
frontend/.vscode
frontend/logs
frontend/node_modules
frontend/package-lock.json
frontend/yarn.lock
frontend/dist

# Backend

backend/logs
backend/vendor
backend/composer.lock

# Media

media