.vscode
.env

# Frontend
frontend/.vite
frontend/.vscode
frontend/logs
frontend/node_modules
frontend/package-lock.json
frontend/yarn.lock
frontend/dist

# Backend

backend/logs/*.log
backend/logs/**/*.log
backend/backups
backend/databases
backend/vendor
backend/composer.lock

# Media

media