@charset "UTF-8";

:root[data-theme="dark"]
{
    color-scheme: dark;
    // Default
    --BG: #242429;
    --selectionBG: #3d3d3d;
    --title: #F1F1F1;
    --text: #e4e4e4;

    // Header
    --headerBG: #1e1e23;

    --headerSearchBarBG: #232326;
    --headerSearchBarInputText: #e4e4e4;
    --headerSearchBarInputPlaceholderText: #b0b0b0;
    --headerSearchButton: #e4e4e4;

    --headerNewArticleBG: #b6b6b600;
    --headerNewArticleBGHover: #f8f8f800;
    --headerNewArticleText: #d8d8d8;
    --headerNewArticleBorder: #d8d8d8;

    --headerDropDownItemTextSelected: #d8d8d8;

    --headerBurgerMenuButton: #d8d8d8;

    --headerButtonMobileBG: #d8d8d8;

    // Loader
    --loaderSpinnerColor: #54A9F8;

    // SideBar
    --sideBarBG: #1e1e23;
    --sideBarBorderLeft: #1e1e24;

    --sideBarLink: #e4e4e4;
    --sideBarLinkHover: #ededed;
    --sideBarLinkActive: #ededed;

    --sidebarArticleCommentsButtonText: #54A9F8;
    --sidebarArticleCommentsButtonBorder: #54A9F8;

    --sidebarBackToArticleButtonText: #54A9F8;
    --sidebarBackToArticleButtonBorder: #54A9F8;

    --sidebarRejectAllApproveButtonText: #950C0C;
    --sidebarRejectAllApproveButtonBorder: #950C0C;

    --sidebarRejectAllPremoderateButtonText: #950C0C;
    --sidebarRejectAllPremoderateButtonBorder: #950C0C;

    --sideBarLinkFooter: #377ecf;
    --sideBarLinkFooterHover: #3c86da;

    // DropDown
    --dropDownBG: #232326;
    --dropDownHoverItemBG: #2f2f34;

    --dropDownItemBGSelected: #232326;
    --dropDownItemText: #e4e4e4;
    --dropDownItemTextSelected: #e4e4e4;

    // Captcha
    --RulesCaptchaTextLink: #3379ca;

    // CommentsList
    --commentsListCommentBorder: #565656;
    --commentsListCommentTitleId: #4193f1;
    --commentsListCommentTitleTime: #797979;
    --commentsListCommentText: #000;

    --commentsListCommentCollapse: #4193f1;

    --commentsListCommentActionText: #747474;
    --commentsListCommentActionTextHover: #575757;

    --commentsListCommentRatingInfluenceUp: #319a17;
    --commentsListCommentRatingInfluenceDown: #950C0C;

    // Article

    // ArticleNew
    --ArticleNewSendButtonBG: #54A9F8;
    --ArticleNewSendButtonHoverBG: #73bafc;
    --ArticleNewSendButtonText: #fff;

    --ArticleNewEditTagsBG: #303037;

    --ArticleNewEditTagsTagBG: #28282c;
    --ArticleNewEditTagsTagText: #2c2c2c;
    --ArticleNewEditTagsRemoveTagButtonBG: #3a3a41;
    --ArticleNewEditTagsRemoveTagButtonHoverBG: #4d4d52;
    --ArticleNewEditTagsRemoveTagButtonText: #b0b0b0;

    --ArticleNewEditTagsAddTagInputBG: #28282c;
    --ArticleNewEditTagsAddTagInputText: #e4e4e4;
    --ArticleNewEditTagsAddTagInputPlaceholderText: #b0b0b0;
    --ArticleNewEditTagsAddTagButtonBG: #3a3a41;
    --ArticleNewEditTagsAddTagButtonHoverBG: #4d4d52;
    --ArticleNewEditTagsAddTagButtonText: #b0b0b0;

    // ArticleEdit
    --ArticleEditSendButtonBG: #54A9F8;
    --ArticleEditSendButtonHoverBG: #73bafc;
    --ArticleEditSendButtonText: #fff;

    --ArticleEditInfoBG: #1e1e23;
    --ArticleEditInfoText: #fff;

    --ArticleEditBlockBG: #1e1e23;
    --ArticleEditBlockTitle: #000;

    --ArticleEditRequestApproveArticleButton: #38B819;
    --ArticleEditRequestApproveArticleButtonBorder: #38B819;

    --ArticleEditAcceptArticleApprovedWithChangesButton: #38B819;
    --ArticleEditAcceptArticleApprovedWithChangesButtonBorder: #38B819;

    --ArticleEditRejectArticleApprovedWithChangesButton: #950C0C;
    --ArticleEditRejectArticleApprovedWithChangesButtonBorder: #950C0C;

    --ArticleEditTagsText: #2F88F0;

    --ArticleEditEditTagsBG: #fff;

    --ArticleEditEditTagsTagBG: #d9d9d9;
    --ArticleEditEditTagsTagText: #2c2c2c;
    --ArticleEditEditTagsRemoveTagButtonBG: #b9b9b9;
    --ArticleEditEditTagsRemoveTagButtonHoverBG: #afafaf;
    --ArticleEditEditTagsRemoveTagButtonText: #565656;

    --ArticleEditEditTagsAddTagInputBG: #d9d9d9;
    --ArticleEditEditTagsAddTagInputText: #2c2c2c;
    --ArticleEditEditTagsAddTagInputPlaceholderText: #565656;
    --ArticleEditEditTagsAddTagButtonBG: #b9b9b9;
    --ArticleEditEditTagsAddTagButtonHoverBG: #afafaf;
    --ArticleEditEditTagsAddTagButtonText: #565656;

    // ArticleView
    --ArticleViewArticleBG: #1e1e23;
    --ArticleViewArticleTitleId: #4193f1;
    --ArticleViewArticleTitleTime: #797979;

    --ArticleViewTagsText: #2F88F0;

    --ArticleViewDeleteArticleButtonText: #950C0C;
    --ArticleViewDeleteArticleButtonBorder: #950C0C;

    --ArticleViewCommentsText: #313131;
    --ArticleViewCommentsBG: #fff;

    --ArticleViewAcceptPremoderateArticleButtonText: #38B819;
    --ArticleViewAcceptPremoderateArticleButtonBorder: #38B819;

    --ArticleViewRejectPremoderateArticleButtonText: #950C0C;
    --ArticleViewRejectPremoderateArticleButtonBorder: #950C0C;

    --ArticleViewAcceptApproveArticleButtonText: #38B819;
    --ArticleViewAcceptApproveArticleButtonBorder: #38B819;

    --ArticleViewRejectApproveArticleButtonText: #950C0C;
    --ArticleViewRejectApproveArticleButtonBorder: #950C0C;

    // AdminEditComments
    --AdminEditCommentsBG: #fff;

    --AdminEditCommentsFiltersInputBG: #d9d9d9;
    --AdminEditCommentsFiltersInputBorder: #d9d9d9;
    --AdminEditCommentsFiltersInputBorderHover: #aaaeb7;
    --AdminEditCommentsFiltersInputBorderFocus: #aaaeb7;
    --AdminEditCommentsFiltersInputText: #2c2c2c;
    --AdminEditCommentsFiltersInputPlaceholderText: #565656;

    --AdminEditCommentsFiltersInputNumberButtonBG: #f5f5f5;

    --AdminEditCommentsArticleTitle: #000;
    --AdminEditCommentsArticleTitleId: #4193f1;
    --AdminEditCommentsArticleTitleTime: #797979;

    --AdminEditCommentsButtonsApplyFiltersButtonText: #54A9F8;
    --AdminEditCommentsButtonsApplyFiltersButtonBorder: #54A9F8;
    --AdminEditCommentsButtonsDeleteSelectedButtonText: #950C0C;
    --AdminEditCommentsButtonsDeleteSelectedButtonBorder: #950C0C;

    // ArticleAdminEditComments
    --ArticleAdminEditCommentsBG: #fff;

    --ArticleAdminEditCommentsFiltersInputBG: #d9d9d9;
    --ArticleAdminEditCommentsFiltersInputBorder: #d9d9d9;
    --ArticleAdminEditCommentsFiltersInputBorderHover: #aaaeb7;
    --ArticleAdminEditCommentsFiltersInputBorderFocus: #aaaeb7;
    --ArticleAdminEditCommentsFiltersInputText: #2c2c2c;
    --ArticleAdminEditCommentsFiltersInputPlaceholderText: #565656;

    --ArticleAdminEditCommentsFiltersInputNumberButtonBG: #f5f5f5;

    --ArticleAdminEditCommentsButtonsApplyFiltersButtonText: #54A9F8;
    --ArticleAdminEditCommentsButtonsApplyFiltersButtonBorder: #54A9F8;
    --ArticleAdminEditCommentsButtonsDeleteSelectedButtonText: #950C0C;
    --ArticleAdminEditCommentsButtonsDeleteSelectedButtonBorder: #950C0C;

    // Articles
    --ArticlesArticleBG: #fff;
    --ArticlesArticleTitleId: #4193f1;
    --ArticlesArticleTitleTime: #797979;

    --ArticlesArticleTagsText: #2F88F0;

    --ArticlesReadAllButtonText: #54A9F8;
    --ArticlesReadAllButtonBorder: #54A9F8;

    --ArticleAcceptPremoderateArticleButtonText: #38B819;
    --ArticleAcceptPremoderateArticleButtonBorder: #38B819;

    --ArticleRejectPremoderateArticleButtonText: #950C0C;
    --ArticleRejectPremoderateArticleButtonBorder: #950C0C;

    --ArticleAcceptApproveArticleButtonText: #38B819;
    --ArticleAcceptApproveArticleButtonBorder: #38B819;

    --ArticleRejectApproveArticleButtonText: #950C0C;
    --ArticleRejectApproveArticleButtonBorder: #950C0C;


    // AboutProject
    --AboutProjectTitle: #d1d1d1;
    --AboutProjectDescriptionLink: #d1d1d1;

    // Rules
    --RulesTitle: #d7d7d7;

    // Sponsoring
    --SponsoringTitle: #d1d1d1;
    --SponsoringBlockBG: #232326;

    // Modals

    // AdminModal
    --AdminModalBG: #eee;
    --AdminModalText: #000;

    --AdminModalInputTextBG: #d9d9d9;
    --AdminModalInputTextText: #000;

    --AdminModalInputNumberBG: #d9d9d9;
    --AdminModalInputNumberBorder: #d9d9d9;
    --AdminModalInputNumberBorderHover: #aaaeb7;
    --AdminModalInputNumberBorderFocus: #aaaeb7;
    --AdminModalInputNumberText: #2c2c2c;
    --AdminModalInputNumberButtonBG: #f5f5f5;

    --AdminModalButtonText: #38B819;
    --AdminModalButtonBorder: #38B819;

    --AdminModalButtonTextQuit: #950C0C;
    --AdminModalButtonBorderQuit: #950C0C;

    --AdminModalButtonTextSaveSettings: #54A9F8;
    --AdminModalButtonBorderSaveSettings: #54A9F8;

    // InfoModal
    --InfoModalBG: #fff;

    --InfoModalTitle: #000;
    --InfoModalText: #000;

    // InfoModalWithLink
    --InfoModalWithLinkBG: #fff;

    --InfoModalWithLinkTitle: #000;
    --InfoModalWithLinkText: #000;
    --infoModalWithLinkTextFooter: #707070;
    --InfoModalWithLinkInputBG: #d9d9d9;
    --InfoModalWithLinkInputText: #5c5c5c;
    --InfoModalWithLinkInputCopyButtonBG: #54A9F8;

    // SearchMobileModal
    --SearchMobileModalBG: #fff;

    --SearchMobileModalInputBG: #d9d9d9;
    --SearchMobileModalInputText: #000;
    --SearchMobileModalInputPlaceholderText: #3d3d3d;
}