@charset "UTF-8";

:root[data-theme="dark"]
{
    color-scheme: dark;

    // Default
    --BG: #242429;
    --selectionBG: #3d3d3d;

    // Header
    --headerBG: #1e1e23;

    --headerSearchBarBG: #2a2a2e;
    --headerSearchBarInputText: #d4d4d4;
    --headerSearchBarInputPlaceholderText: #b0b0b0;
    --headerSearchBarInputButtonInvert: 88%;

    --headerNewArticleBG: #b6b6b600;
    --headerNewArticleBGHover: #f8f8f800;
    --headerNewArticleText: #d4d4d4;
    --headerNewArticleBorder: #d4d4d4;

    --headerDropDownItemTextSelected: #d4d4d4;

    --headerBurgerMenuButton: #d4d4d4;

    --headerButtonMobileBG: transparent;
    --headerButtonMobileBorder: #d4d4d4;
    --headerButtonMobileIconFilter: 88%;

    // Loader
    --loaderSpinnerColor: #458fe4;

    // SideBar
    --sideBarBG: #1e1e23;
    --sideBarBorderLeft: #1e1e24;

    --sideBarLink: #d4d4d4;
    --sideBarLinkHover: #ededed;
    --sideBarLinkActive: #ededed;

    --sidebarArticleCommentsButtonText: #458fe4;
    --sidebarArticleCommentsButtonBorder: #458fe4;

    --sidebarBackToArticleButtonText: #458fe4;
    --sidebarBackToArticleButtonBorder: #458fe4;

    --sidebarRejectAllApproveButtonText: #b92828;
    --sidebarRejectAllApproveButtonBorder: #b92828;

    --sidebarRejectAllPremoderateButtonText: #b92828;
    --sidebarRejectAllPremoderateButtonBorder: #b92828;

    --sideBarLinkFooter: #458fe4;
    --sideBarLinkFooterHover: #5399e9;

    // DropDown
    --DropDownBG: #404048;
    --DropDownHoverItemBG: #4b4b50;
    --DropDownItemBGSelected: #404048;

    --DropDownItemText: #d4d4d4;
    --DropDownItemTextSelected: #d4d4d4;

    --DropDownItemIconFilter: 88%;

    // Captcha
    --RulesCaptchaTextLink: #4188da;

    // CommentsList
    --CommentsListCommentBorder: #565656;
    --CommentsListCommentTitleId: #4188da;
    --CommentsListCommentTitleTime: #9a9a9a;
    --CommentsListCommentText: #000;

    --CommentsListReactionsIconFilter: 88%;
    
    --CommentsListCommentCollapse: #4188da;

    --CommentsListCommentActionText: #d4d4d4;
    --CommentsListCommentActionTextHover: #ededed;

    --CommentsListCommentRatingInfluenceUp: #68bc53;
    --CommentsListCommentRatingInfluenceDown: #b92828;

    --CommentsListNewSubcommentBG: #3A3A40;

    // Article

    // ArticleNew
    --ArticleNewSendButtonBG: transparent;
    --ArticleNewSendButtonHoverBG: transparent;
    --ArticleNewSendButtonText: #458fe4;
    --ArticleNewSendButtonHoverText: #5399e9;
    --ArticleNewSendButtonBorder: #458fe4;
    --ArticleNewSendButtonHoverBorder: #5399e9;

    --ArticleNewEditTagsBG: #303037;

    --ArticleNewEditTagsTagBG: #3f3f45;
    --ArticleNewEditTagsTagText: #d4d4d4;
    --ArticleNewEditTagsRemoveTagButtonBG: #4b4b50;
    --ArticleNewEditTagsRemoveTagButtonHoverBG: #59595f;
    --ArticleNewEditTagsRemoveTagButtonText: #b0b0b0;

    --ArticleNewEditTagsAddTagInputBG: #3d3d45;
    --ArticleNewEditTagsAddTagInputText: #d4d4d4;
    --ArticleNewEditTagsAddTagInputPlaceholderText: #b0b0b0;
    --ArticleNewEditTagsAddTagButtonBG: #4b4b50;
    --ArticleNewEditTagsAddTagButtonHoverBG: #59595f;
    --ArticleNewEditTagsAddTagButtonText: #b0b0b0;

    // ArticleEdit
    --ArticleEditSendButtonBG: transparent;
    --ArticleEditSendButtonHoverBG: transparent;
    --ArticleEditSendButtonText: #4a9be7;
    --ArticleEditSendButtonHoverText: #458fe4;
    --ArticleEditSendButtonBorder: #4a9be7;
    --ArticleEditSendButtonHoverBorder: #458fe4;

    --ArticleEditInfoBG: #303037;
    --ArticleEditInfoText: #fff;

    --ArticleEditInfoStatusIconFilter: 35%;

    --ArticleEditBlockBG: #303037;
    --ArticleEditBlockTitle: #d4d4d4;

    --ArticleEditRequestApproveArticleButton: #68bc53;
    --ArticleEditRequestApproveArticleButtonBorder: #68bc53;

    --ArticleEditAcceptArticleApprovedWithChangesButton: #68bc53;
    --ArticleEditAcceptArticleApprovedWithChangesButtonBorder: #68bc53;

    --ArticleEditRejectArticleApprovedWithChangesButton: #b92828;
    --ArticleEditRejectArticleApprovedWithChangesButtonBorder: #b92828;

    --ArticleEditTagsText: #2F88F0;

    --ArticleEditEditTagsBG: #303037;

    --ArticleEditEditTagsTagBG: #3f3f45;
    --ArticleEditEditTagsTagText: #d4d4d4;
    --ArticleEditEditTagsRemoveTagButtonBG: #4b4b50;
    --ArticleEditEditTagsRemoveTagButtonHoverBG: #59595f;
    --ArticleEditEditTagsRemoveTagButtonText: #b0b0b0;

    --ArticleEditEditTagsAddTagInputBG: #3d3d45;
    --ArticleEditEditTagsAddTagInputText: #d4d4d4;
    --ArticleEditEditTagsAddTagInputPlaceholderText: #b0b0b0;
    --ArticleEditEditTagsAddTagButtonBG: #4b4b50;
    --ArticleEditEditTagsAddTagButtonHoverBG: #59595f;
    --ArticleEditEditTagsAddTagButtonText: #b0b0b0;

    // ArticleView
    --ArticleViewArticleBG: #303037;
    --ArticleViewArticleTitleId: #4188da;
    --ArticleViewArticleTitleTime: #9a9a9a;

    --ArticleViewReactionsIconFilter: 88%;

    --ArticleViewTagsText: #2F88F0;

    --ArticleViewDeleteArticleButtonText: #b92828;
    --ArticleViewDeleteArticleButtonBorder: #b92828;

    --ArticleViewCommentsText: #d4d4d4;
    --ArticleViewCommentsBG: #303037;

    --ArticleViewNewCommentBG: #3A3A40;

    --ArticleViewAcceptPremoderateArticleButtonText: #68bc53;
    --ArticleViewAcceptPremoderateArticleButtonBorder: #68bc53;

    --ArticleViewRejectPremoderateArticleButtonText: #b92828;
    --ArticleViewRejectPremoderateArticleButtonBorder: #b92828;

    --ArticleViewAcceptApproveArticleButtonText: #68bc53;
    --ArticleViewAcceptApproveArticleButtonBorder: #68bc53;

    --ArticleViewRejectApproveArticleButtonText: #b92828;
    --ArticleViewRejectApproveArticleButtonBorder: #b92828;

    // AdminEditComments
    --AdminEditCommentsBG: #303037;

    --AdminEditCommentsFiltersInputBG: #2A2A2E;
    --AdminEditCommentsFiltersInputText: #d4d4d4;
    --AdminEditCommentsFiltersInputPlaceholderText: #b0b0b0;

    --AdminEditCommentsFiltersInputNumberButtonBG: #303037;

    --AdminEditCommentsArticleTitle: #d4d4d4;
    --AdminEditCommentsArticleTitleId: #4188da;
    --AdminEditCommentsArticleTitleTime: #9a9a9a;

    --AdminEditCommentsButtonsApplyFiltersButtonText: #458fe4;
    --AdminEditCommentsButtonsApplyFiltersButtonBorder: #458fe4;
    --AdminEditCommentsButtonsDeleteSelectedButtonText: #b92828;
    --AdminEditCommentsButtonsDeleteSelectedButtonBorder: #b92828;

    // ArticleAdminEditComments
    --ArticleAdminEditCommentsBG: #303037;

    --ArticleAdminEditCommentsFiltersInputBG: #2A2A2E;
    --ArticleAdminEditCommentsFiltersInputText: #d4d4d4;
    --ArticleAdminEditCommentsFiltersInputPlaceholderText: #b0b0b0;

    --ArticleAdminEditCommentsFiltersInputNumberButtonBG: #303037;

    --ArticleAdminEditCommentsButtonsApplyFiltersButtonText: #458fe4;
    --ArticleAdminEditCommentsButtonsApplyFiltersButtonBorder: #458fe4;
    --ArticleAdminEditCommentsButtonsDeleteSelectedButtonText: #b92828;
    --ArticleAdminEditCommentsButtonsDeleteSelectedButtonBorder: #b92828;

    // Articles
    --ArticlesArticleBG: #303037;
    --ArticlesArticleTitleId: #458fe4;
    --ArticlesArticleTitleTime: #9a9a9a;

    --ArticlesArticleTagsText: #2F88F0;

    --ArticlesReadAllButtonText: #458fe4;
    --ArticlesReadAllButtonBorder: #458fe4;

    --ArticlesReactionsIconFilter: 88%;

    --ArticleAcceptPremoderateArticleButtonText: #68bc53;
    --ArticleAcceptPremoderateArticleButtonBorder: #68bc53;

    --ArticleRejectPremoderateArticleButtonText: #b92828;
    --ArticleRejectPremoderateArticleButtonBorder: #b92828;

    --ArticleAcceptApproveArticleButtonText: #68bc53;
    --ArticleAcceptApproveArticleButtonBorder: #68bc53;

    --ArticleRejectApproveArticleButtonText: #b92828;
    --ArticleRejectApproveArticleButtonBorder: #b92828;

    // AboutProject
    --AboutProjectTitle: #d4d4d4;
    --AboutProjectText: #d4d4d4;
    --AboutProjectTextLink: #d4d4d4;

    // Rules
    --RulesTitle: #d4d4d4;
    --RulesText: #d4d4d4;

    // Sponsoring
    --SponsoringTitle: #d1d1d1;
    --SponsoringBlockBG: #303033;

    // Modals

    // AdminModal
    --AdminModalBG: #1e1e23;
    --AdminModalText: #d4d4d4;

    --AdminModalInputTextBG: #2e2e31;
    --AdminModalInputTextText: #cacaca;

    --AdminModalInputNumberBG: #2A2A2E;
    --AdminModalInputNumberText: #d4d4d4;
    --AdminModalInputNumberButtonBG: #303037;

    --AdminModalCheckmark: #2c2c2c;
    --AdminModalCheckmarkHover: #383838;
    --AdminModalCheckmarkChecked: #383838;
    --AdminModalCheckmarkCheckedIcon: #d4d4d4;

    --AdminModalButtonText: #68bc53;
    --AdminModalButtonBorder: #68bc53;

    --AdminModalButtonTextQuit: #b92828;
    --AdminModalButtonBorderQuit: #b92828;

    --AdminModalButtonTextSaveSettings: #458fe4;
    --AdminModalButtonBorderSaveSettings: #458fe4;

    // InfoModal
    --InfoModalBG: #1e1e23;

    --InfoModalIconFilter: 88%;

    --InfoModalTitle: #d4d4d4;
    --InfoModalText: #d4d4d4;

    // InfoModalWithLink
    --InfoModalWithLinkBG: #1e1e23;

    --InfoModalWithLinkTitle: #d4d4d4;
    --InfoModalWithLinkText: #d4d4d4;
    --infoModalWithLinkTextFooter: #707070;
    --InfoModalWithLinkInputBG: #2a2a2e;
    --InfoModalWithLinkInputText: #d4d4d4;
    --InfoModalWithLinkInputCopyButtonBG: #458fe4;

    // SearchMobileModal
    --SearchMobileModalBG: #1e1e23;

    --SearchMobileModalInputBG: #2a2a2e;
    --SearchMobileModalInputText: #d4d4d4;
    --SearchMobileModalInputPlaceholderText: #b0b0b0;
    --SearchMobileModalInputButtonInvert: 88%;

    //MdEditor
    .md-editor
    {
        --md-color: #d4d4d4;
        --md-hover-color: #d4d4d4;
        --md-bk-color: #303037;
        --md-bk-color-outstand: #464650 !important;
        --md-bk-hover-color: #464650 !important;
        --md-border-color: transparent !important;
        --md-border-hover-color: transparent !important;
        --md-border-active-color: transparent !important;
        --md-modal-mask: #00000073;
        --md-scrollbar-bg-color: #e2e2e2;
        --md-scrollbar-thumb-color: #0000004d;
        --md-scrollbar-thumb-hover-color: #00000059;
        --md-scrollbar-thumb-active-color: #00000061;
    }

    .md-editor-preview
    {
        --md-theme-bg-color-inset: #3A3A40;
    }
    .md-editor-modal-container
    {
        --md-color: #d4d4d4;
        --md-hover-color: #f2f2f2;
        --md-bk-color: #303037;
        --md-border-color: #55555c;
        --md-border-hover-color: #707076 !important;
        --md-border-active-color: #7e7e85 !important;
    }
    .md-editor-dropdown
    {
        --md-border-color: #55555c;
        --md-border-hover-color: #707076 !important;
        --md-border-active-color: #7e7e85 !important;
    }
}