@charset "UTF-8";

@import "vars.scss";
@import "mixins.scss";

:root 
{
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color-scheme: light;
	background-color: $BG;
	
	overflow: hidden;
}

#md-editor-v3
{
	* 
	{
		overflow: hidden;
	}
}

.md-editor-preview
{
	word-break: break-word !important;
	& *
	{
		word-break: break-word !important;
	}
}

.md-editor-footer-right
{
	display: none;
}
.grecaptcha-badge 
{
	visibility: hidden; 
}

@media(min-height: 1120px)
{
	.md-editor-icon
	{
		width: 27px !important;
		height: 27px !important;
	}
}

@media(min-height: 1220px)
{
	.md-editor-icon
	{
		width: 30px !important;
		height: 30px !important;
	}
}

@media(min-height: 1320px)
{
	.md-editor-icon
	{
		width: 33px !important;
		height: 33px !important;
	}
}

@media(min-height: 1420px)
{
	.md-editor-icon
	{
		width: 36px !important;
		height: 36px !important;
	}
}



@media(max-width: 1300px)
{
	.md-editor-toolbar
	{
		flex-wrap: wrap;
	}
}

@media(min-height: 1100px)
{
    
	.md-editor
	{
		label, span, p, div
		{
			font-size: 18px;
		}
		&-footer
		{
			height: 30px !important;
		}
		
	}
}

@media(max-width: 950px)
{
	.md-editor-toolbar
	{
		&-left
		{
			flex-wrap: wrap;
		}
		&-right
		{
			flex-wrap: wrap;
		}
	}
}

@media(max-width: 700px)
{
	.md-editor-preview-wrapper[data-show*=true]
	{
		width: 100% !important;
	}
	.md-editor-content.has-preview 
	{
		.md-editor-input-wrapper
		{
			width: 0% !important;
		}
	}
	.md-editor-toolbar
	{
		flex-direction: column;
		align-items: center;

		&-left
		{
			align-items: center;
		}
		&-right
		{
			flex-wrap: wrap;
		}
	}
	.md-editor-resize-operate
	{
		display: none !important;
	}
}

.widget__modal-container__item
{
    z-index: 20;
}

.main
{
	margin-top: 120px !important;
	margin-bottom: 60px;
	width: 100%;
	min-height: 70%;
	display: flex;
	overflow-x: hidden;
}

@media(max-width: 1050px)
{
	.main
	{	
		margin-top: 90px !important;
	}
}

.ps 
{
	width: 100vw;
	height: 100vh;
	&__rail-y
	{
		z-index: 30;
	}
}

.pageOpacity
{
	&-enter-active, &-leave-active 
	{
		transition: 400ms ease;
	}
	&-enter-from, &-leave-to 
	{
		opacity: 0;
  	}
}

h1, p, a
{
	padding: 0;
	margin: 0;
	color: $text;
}

a
{
  	text-decoration: none;
}

li
{
	list-style: none;
}

input, button
{
	outline: none;
	border: none;
	padding: 0;
	border: 0;
	margin: 0;
}

img::selection 
{
    background: transparent;
}

::selection
{
	background-color: $selectionBG;
}


.component
{
	width: 100%;
	height: 100%;
}

body 
{
	margin: 0;
	display: flex;
	place-items: center;
	min-height: 100vh;
}

h1 
{
	color: $h1;
	font-size: 3.2em;
	line-height: 1.1;
}

.card 
{
	padding: 2em;
}

#app 
{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}


