@charset "UTF-8";

@import "vars.scss";
@import "mixins.scss";

:root 
{
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1;
	font-weight: 400;

	color-scheme: light;
	background-color: #F1F4FF;
	background-color: $BG;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

main
{
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

.ps {
	width: 100vw;
	height: 100vh;
	@include place-items-center;
}

.pageOpacity
{
	&-enter-active, &-leave-active {
		transition: 400ms ease;
	  }
	&-enter-from, &-leave-to {
		opacity: 0;
  	}
}
h1, p
{
	padding: 0;
	margin: 0;
	color: $text;
}

a
{
  	text-decoration: none;
}

li
{
	list-style: none;
}

input
{
	outline: none;
	border: none;
}

body 
{
	margin: 0;
	display: flex;
	place-items: center;
	min-height: 100vh;
}

h1 
{
	color: $h1;
	font-size: 3.2em;
	line-height: 1.1;
}

.card 
{
	padding: 2em;
}

#app 
{
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	@include place-items-center;
}