@charset "UTF-8";

@import "vars.scss";
@import "mixins.scss";

@font-face 
{
  font-family: 'Roboto-Medium';
  src: url("./../assets/fonts/roboto/medium/Roboto-Medium.eot");
  src: local("☺"), url("./../assets/fonts/roboto/medium/Roboto-Medium.woff") format("woff"), url("./../assets/fonts/roboto/medium/Roboto-Medium.ttf") format("truetype"), url("./../assets/fonts/roboto/medium/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face 
{
  font-family: 'Roboto-Regular';
  src: url("./../assets/fonts/roboto/regular/Roboto-Regular.eot");
  src: local("☺"), url("./../assets/fonts/roboto/regular/Roboto-Regular.woff") format("woff"), url("./../assets/fonts/roboto/regular/Roboto-Regular.ttf") format("truetype"), url("./../assets/fonts/roboto/regular/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}