@charset "UTF-8";

// Default
$BG: #f1f4ff;

// Selection
$selectionBG: #d1d1d1;

// Texts
$text: #000;

// Headers
$h1: #000;
$h1Blue: #2F88F0;


// Header
$headerBG: #54A9F8;

$headerSearchBarBG: #fff;

$headerNewArticleBG: #f8f8f8;
$headerNewArticleBGHover: #e2e2e2;
$headerNewArticleText: #131313;

$headerBurgerMenuButton: #fff;

// SideBar
$sideBarLink: #000;
$sideBarLinkHover: #424242;
$sideBarLinkActive: #575757;

$sideBarLinkBlue: #4193f1;
$sideBarLinkBlueHover: #5ca8ff;

// DropDown
$dropDownBG: #ddd;
$dropDownHoverItemBG: #ccc;

$dropDownItemText: #000;
$dropDownItemTextSelected: #fff;

// ArticleNew
$articleNewSendButtonBG: #54A9F8;
$articleNewSendButtonHoverBG: #73bafc;
$articleNewSendButtonText: #fff;

// ArticleEdit
$articleEditSendButtonBG: #54A9F8;
$articleEditSendButtonBGHover: #73bafc;
$articleEditSendButtonText: #fff;

// Sponsoring
$sponsoringBlockBG: #ececec;