@charset "UTF-8";

// Default
$BG: #f1f4ff;

// Selection
$selectionBG: #bbbbbb;

// Texts
$text: #000;

// Headers
$h1: #000;
$h1Blue: #2F88F0;


// Header
$headerBG: #54A9F8;

$headerSearchBarBG: #fff;

$headerNewArticleBG: #f8f8f8;
$headerNewArticleBGHover: #e2e2e2;
$headerNewArticleText: #131313;

$headerDropDownItemTextSelected: #fff;

$headerBurgerMenuButton: #fff;

// SideBar
$sideBarLink: #000;
$sideBarLinkHover: #424242;
$sideBarLinkActive: #575757;

$sideBarLinkBlue: #4193f1;
$sideBarLinkBlueHover: #5ca8ff;


// DropDown
$dropDownBG: #ddd;
$dropDownHoverItemBG: #ccc;

$dropDownItemBGSelected: #ddd;
$dropDownItemText: #000;
$dropDownItemTextSelected: #000;

// Article

// ArticleNew
$articleNewSendButtonBG: #54A9F8;
$articleNewSendButtonHoverBG: #73bafc;
$articleNewSendButtonText: #fff;

$articleNewEditTagsBG: #fff;

$articleNewEditTagsTagBG: #d9d9d9;
$articleNewEditTagsTagText: #2c2c2c;
$articleNewEditTagsRemoveTagButtonBG: #b9b9b9;
$articleNewEditTagsRemoveTagButtonHoverBG: #afafaf;
$articleNewEditTagsRemoveTagButtonText: #565656;

$articleNewEditTagsAddTagInputBG: #d9d9d9;
$articleNewEditTagsAddTagInputText: #2c2c2c;
$articleNewEditTagsAddTagInputPlaceholderText: #565656;
$articleNewEditTagsAddTagButtonBG: #b9b9b9;
$articleNewEditTagsAddTagButtonHoverBG: #afafaf;
$articleNewEditTagsAddTagButtonText: #565656;



// ArticleEdit
$articleEditSendButtonBG: #54A9F8;
$articleEditSendButtonHoverBG: #73bafc;
$articleEditSendButtonText: #fff;

$articleEditInfoBG: #fff;
$articleEditInfoText: #fff;

$articleEditEditTagsBG: #fff;

$articleEditEditTagsTagBG: #d9d9d9;
$articleEditEditTagsTagText: #2c2c2c;
$articleEditEditTagsRemoveTagButtonBG: #b9b9b9;
$articleEditEditTagsRemoveTagButtonHoverBG: #afafaf;
$articleEditEditTagsRemoveTagButtonText: #565656;

$articleEditEditTagsAddTagInputBG: #d9d9d9;
$articleEditEditTagsAddTagInputText: #2c2c2c;
$articleEditEditTagsAddTagInputPlaceholderText: #565656;
$articleEditEditTagsAddTagButtonBG: #b9b9b9;
$articleEditEditTagsAddTagButtonHoverBG: #afafaf;
$articleEditEditTagsAddTagButtonText: #565656;

// ArticleView
$articleViewArticleTitleTime: #797979;


$articleViewCommentsText: #313131;
$articleViewCommentsBG: #fff;


// Articles
$articlesArticleBG: #fff;
$articlesArticleTitleTime: #797979;

$articlesReadAllButtonText: #54A9F8;
$articlesReadAllButtonBorder: #54A9F8;

// Sponsoring
$sponsoringBlockBG: #ececec;

// AdminModal
$adminModalBG: #eee;
$adminModalText: #000;

$adminModalInputBG: #d9d9d9;
$adminModalInputText: #000;
$adminModalInputPlaceholderText: #3d3d3d;

$adminModalButtonText: #38B819;
$adminModalButtonBorder: #38B819;