@charset "UTF-8";

// Default
$BG: #f1f4ff;

// Selection
$selectionBG: #bbbbbb;

// Texts
$text: #000;

// Titles
$h1: #000;
$h1Blue: #2F88F0;

// Header
$headerBG: #54A9F8;

$headerSearchBarBG: #fff;
$headerSearchBarInputText: #000;
$headerSearchBarInputPlaceholderText: #3d3d3d;

$headerNewArticleBG: #f8f8f8;
$headerNewArticleBGHover: #e2e2e2;
$headerNewArticleText: #131313;

$headerDropDownItemTextSelected: #fff;

$headerBurgerMenuButton: #fff;

$headerButtonMobileBG: #fff;

// Loader
$loaderSpinnerColor: #54A9F8;
$loaderTextColor: #54A9F8;

// SideBar
$sideBarBG: #F1F1F1;
$sideBarBorderLeft: #C9C9C9;

$sideBarLink: #000;
$sideBarLinkHover: #424242;
$sideBarLinkActive: #575757;

$sidebarArticleCommentsButtonText: #54A9F8;
$sidebarArticleCommentsButtonBorder: #54A9F8;

$sidebarBackToArticleButtonText: #54A9F8;
$sidebarBackToArticleButtonBorder: #54A9F8;

$sidebarRejectAllButtonText: #950C0C;
$sidebarRejectAllButtonBorder: #950C0C;

$sideBarLinkFooter: #4193f1;
$sideBarLinkFooterHover: #5ca8ff;


// DropDown
$dropDownBG: #ddd;
$dropDownHoverItemBG: #ccc;

$dropDownItemBGSelected: #ddd;
$dropDownItemText: #000;
$dropDownItemTextSelected: #000;

// CommentsList
$commentsListCommentTitleTime: #797979;
$commentsListCommentTitleId: #4193f1;
$commentsListCommentText: #000;

$commentsListCommentActionText: #747474;
$commentsListCommentActionTextHover: #575757;

// Article

// ArticleNew
$ArticleNewSendButtonBG: #54A9F8;
$ArticleNewSendButtonHoverBG: #73bafc;
$ArticleNewSendButtonText: #fff;

$ArticleNewEditTagsBG: #fff;

$ArticleNewEditTagsTagBG: #d9d9d9;
$ArticleNewEditTagsTagText: #2c2c2c;
$ArticleNewEditTagsRemoveTagButtonBG: #b9b9b9;
$ArticleNewEditTagsRemoveTagButtonHoverBG: #afafaf;
$ArticleNewEditTagsRemoveTagButtonText: #565656;

$ArticleNewEditTagsAddTagInputBG: #d9d9d9;
$ArticleNewEditTagsAddTagInputText: #2c2c2c;
$ArticleNewEditTagsAddTagInputPlaceholderText: #565656;
$ArticleNewEditTagsAddTagButtonBG: #b9b9b9;
$ArticleNewEditTagsAddTagButtonHoverBG: #afafaf;
$ArticleNewEditTagsAddTagButtonText: #565656;

// ArticleEdit
$ArticleEditSendButtonBG: #54A9F8;
$ArticleEditSendButtonHoverBG: #73bafc;
$ArticleEditSendButtonText: #fff;

$ArticleEditInfoBG: #fff;
$ArticleEditInfoText: #fff;

$ArticleEditEditTagsBG: #fff;

$ArticleEditEditTagsTagBG: #d9d9d9;
$ArticleEditEditTagsTagText: #2c2c2c;
$ArticleEditEditTagsRemoveTagButtonBG: #b9b9b9;
$ArticleEditEditTagsRemoveTagButtonHoverBG: #afafaf;
$ArticleEditEditTagsRemoveTagButtonText: #565656;

$ArticleEditEditTagsAddTagInputBG: #d9d9d9;
$ArticleEditEditTagsAddTagInputText: #2c2c2c;
$ArticleEditEditTagsAddTagInputPlaceholderText: #565656;
$ArticleEditEditTagsAddTagButtonBG: #b9b9b9;
$ArticleEditEditTagsAddTagButtonHoverBG: #afafaf;
$ArticleEditEditTagsAddTagButtonText: #565656;

// ArticleView
$ArticleViewArticleBG: #fff;
$ArticleViewArticleTitleTime: #797979;

$ArticleViewTagsText: #2F88F0;

$ArticleViewDeleteArticleButtonText: #950C0C;
$ArticleViewDeleteArticleButtonBorder: #950C0C;

$ArticleViewCommentsText: #313131;
$ArticleViewCommentsBG: #fff;

// ArticleAdminEditComments
$articleAdminEditBG: #fff;

$articleAdminEditFiltersInputBG: #d9d9d9;
$articleAdminEditFiltersInputBorder: #d9d9d9;
$articleAdminEditFiltersInputBorderHover: #aaaeb7;
$articleAdminEditFiltersInputBorderFocus: #aaaeb7;
$articleAdminEditFiltersInputText: #2c2c2c;
$articleAdminEditFiltersInputPlaceholderText: #565656;

$articleAdminEditFiltersInputNumberButtonBG: #f5f5f5;

$articleAdminEditButtonsApplyFiltersButtonText: #54A9F8;
$articleAdminEditButtonsApplyFiltersButtonBorder: #54A9F8;
$articleAdminEditButtonsDeleteSelectedButtonText: #950C0C;
$articleAdminEditButtonsDeleteSelectedButtonBorder: #950C0C;

// Articles
$articlesArticleBG: #fff;
$articlesArticleTitleTime: #797979;

$articlesArticleTagsText: #2F88F0;

$articlesReadAllButtonText: #54A9F8;
$articlesReadAllButtonBorder: #54A9F8;

$articleAcceptPremoderateArticleButtonText: #38B819;
$articleAcceptPremoderateArticleButtonBorder: #38B819;

$articleRejectPremoderateArticleButtonText: #950C0C;
$articleRejectPremoderateArticleButtonBorder: #950C0C;

$articleAcceptApproveArticleButtonText: #38B819;
$articleAcceptApproveArticleButtonBorder: #38B819;

$articleRejectApproveArticleButtonText: #950C0C;
$articleRejectApproveArticleButtonBorder: #950C0C;

// Sponsoring
$sponsoringBlockBG: #ececec;

// Modals

// AdminModal
$adminModalBG: #eee;
$adminModalText: #000;

$adminModalInputTextBG: #d9d9d9;
$adminModalInputTextText: #000;

$adminModalInputNumberBG: #d9d9d9;
$adminModalInputNumberBorder: #d9d9d9;
$adminModalInputNumberBorderHover: #aaaeb7;
$adminModalInputNumberBorderFocus: #aaaeb7;
$adminModalInputNumberText: #2c2c2c;
$adminModalInputNumberButtonBG: #f5f5f5;

$adminModalButtonText: #38B819;
$adminModalButtonBorder: #38B819;

$adminModalButtonTextQuit: #950C0C;
$adminModalButtonBorderQuit: #950C0C;

$adminModalButtonTextSaveSettings: #54A9F8;
$adminModalButtonBorderSaveSettings: #54A9F8;

// InfoModal
$InfoModalBG: #fff;

$InfoModalTitle: #000;
$InfoModalText: #000;

// InfoModalWithLink
$InfoModalWithLinkBG: #fff;

$InfoModalWithLinkTitle: #000;
$InfoModalWithLinkText: #000;
$infoModalWithLinkTextFooter: #707070;
$InfoModalWithLinkInputBG: #d9d9d9;
$InfoModalWithLinkInputText: #5c5c5c;
$InfoModalWithLinkInputCopyButtonBG: #54A9F8;

// LoaderModal
$LoaderModalContainer: #fff;

// SearchMobileModal
$SearchMobileModalBG: #fff;

$SearchMobileModalInputBG: #d9d9d9;
$SearchMobileModalInputText: #000;
$SearchMobileModalInputPlaceholderText: #3d3d3d;