@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.comment
{
    min-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
    &__header
    {
        display: flex;
        align-items: center;

        &__title
        {
            font-size: 18px;
            font-family: Roboto-Regular;
        }
        & .id
        {
            font-size: 17px;
            color: $commentsListCommentTitleId;
        }
        & .time
        {
            padding-left: 2%;
            color: $commentsListCommentTitleTime;
        }
    }
    
    &__text
    {
        font-size: 17px;
        font-family: Roboto-Regular;
    }
    &__bar
    {
        display: flex;
        align-items: center;
        
        &__actions
        {
            display: flex;
            align-items: center;
            &__action
            {
                cursor: pointer;
                font-family: Roboto-Regular;
                font-size: 18px;
                color: $commentsListCommentActionText;
                
                &:nth-child(2)
                {
                    margin-left: 12px;
                }

                transition: .4s;
                transform: scale(1);
                &:hover
                {
                    transform: scale(1.03);
                    color: $commentsListCommentActionTextHover;
                }
            }
        }
        &__reactions
        {
            display: flex;
            align-items: center;
            margin-left: 16px;

            &__icon
            {
                cursor: pointer;
                margin-left: 16px;
                transition: .6s ease-out;
                transform: scale(1);
                &:hover
                {
                    transform: scale(1.1);
                }
            }
            &__title
            {
                font-size: 18px;
                font-family: Roboto-Regular;
                margin-left: 8px;
            }
        }
    }
    &__newSubcomment
    {
        width: 97%;
        margin-top: 12px;
        position: relative;
        &__editor
        {
            width: 100%;
            height: auto !important;
            min-height: 260px;
            border-radius: 15px;
        }
        &__reactions
        {
            position: absolute;
            display: flex;
            bottom: 15px;
            left: 15px;
            &__reaction
            {
                cursor: pointer;
                margin-left: 8px;
                width: 30px;
                transition: .5s;
            }
        }
        &__sendButton
        {
            cursor: pointer;
            position: absolute;
            bottom: 15px;
            right: 15px;
            transition: .3s;
            &:hover
            {
                transform: scale(1.1);
            }
        }
    }
}

@media(min-width: 3000px)
{
    .comment
    {
        height: 145px;
        &__header
        {
            & .id
            {
                font-size: 24px;
            }
            &__title
            {
                font-size: 25px;
            }
        }
        &__text
        {
            font-size: 22px;
        }
        &__bar
        {
            &__actions
            {
                &__action
                {
                    font-size: 23px;
                }
            }
            &__reactions
            {
                margin-left: 13px;
                &__title
                {
                    font-size: 23px;
                }
            }
        }
    }
}

@media(min-width: 2400px)
{
    .comment
    {
        height: 135px;
        &__header
        {
            & .id
            {
                font-size: 22px;
            }
            &__title
            {
                font-size: 23px;
            }
        }
        &__text
        {
            font-size: 20px;
        }
        &__bar
        {
            &__actions
            {
                &__action
                {
                    font-size: 21px;
                }
            }
            &__reactions
            {
                margin-left: 13px;
                &__title
                {
                    font-size: 21px;
                }
            }
        }
    }
}

@media(max-width: 620px)
{
    .comment
    {
        height: 115px;
        margin-top: 12px;
        margin-bottom: 24px;
        &__header
        {
            & .id
            {
                font-size: 17px;
            }
            &__title
            {
                font-size: 18px;
            }
        }
        &__text
        {
            font-size: 15px;
        }
        &__bar
        {
            &__actions
            {
                &__action
                {
                    font-size: 16px;
                    &:nth-child(2)
                    {
                        margin-left: 12px;
                    }
                }
            }
            &__reactions
            {
                margin-left: 13px;

                &__icon
                {
                    width: 25px;
                    margin-left: 10px;
                }
                &__title
                {
                    font-size: 16px;
                    margin-left: 5px;
                }
            }
        }
    }
}

@media(max-width: 480px)
{
    .comment
    {
        height: 100px;
        margin-top: 10px;
        margin-bottom: 22px;
        &__header
        {
            & .id
            {
                font-size: 15px;
            }
            &__title
            {
                font-size: 16px;
            }
        }
        &__text
        {
            font-size: 13px;
        }
        &__bar
        {
            &__actions
            {
                &__action
                {
                    font-size: 14px;
                    &:nth-child(2)
                    {
                        margin-left: 8px;
                    }
                }
            }
            &__reactions
            {
                margin-left: 7px;

                &__icon
                {
                    width: 20px;
                    margin-left: 10px;
                }
                &__title
                {
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 380px)
{
    .comment
    {
        height: 90px;
        margin-top: 10px;
        margin-bottom: 22px;
        &__header
        {
            &__title
            {
                font-size: 14px;
            }
            & .id
            {
                font-size: 13px;
            }
        }
        &__text
        {
            font-size: 12px;
        }
        &__bar
        {
            &__actions
            {
                &__action
                {
                    font-size: 13px;
                    &:nth-child(2)
                    {
                        margin-left: 8px;
                    }
                }
            }
            &__reactions
            {
                margin-left: 7px;

                &__icon
                {
                    width: 20px;
                    margin-left: 6px;
                }
                &__title
                {
                    font-size: 13px;
                }
            }
        }
    }
}