.custom-select  
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & .selected
    {
        cursor: pointer;
        width: 100%;
        border-radius: 6px;
        padding-left: 6px;

        color: #ffffff;
        font-size: 22px;

        user-select: none;
        position: relative;
        &.open 
        {
            border-radius: 6px;
            &:after
            {
                transform: rotateZ(180deg)
            }
        }
        &:after 
        { 
            content: "";
            top: 14px;
            right: -5px;
            width: 16px;
            height: 10px;
            background: url("./../../assets/img/arrowdown.svg") no-repeat;
            position: absolute;
            transition: .8s;
        }
    }
    & .items {
        width: 100%;
        top: 40px;
        left: 0;
        right: 0;
        
        border-radius: 6px;

        font-size: 22px;
        color: #000;
        
        background-color: #ddd;

        overflow: hidden;
        position: absolute;
        
        z-index: 1;
        & div {
            cursor: pointer;
            width: 100%;
            height: 32px;
            line-height: 32px;

            color: #000;

            text-align: center;
            user-select: none;
            &:hover {
                background-color: #ccc;
            }
        }
    }
}
.selectHide {
    display: none !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}