@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.customSelect
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    height: 40px;
    &__selected
    {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        padding-left: 12px;

        color: $dropDownItemTextSelected;
        background-color: $dropDownItemBGSelected;
        font-size: 22px;

        user-select: none;
        position: relative;

        line-height: 40px;
        &.open 
        {
            border-radius: 15px;
            & .customSelect__selected__img 
            {
                transform: rotateZ(180deg)
            }
        }
        &__img 
        { 
            content: "";
            top: 16px;
            right: 12px;
            width: 16px;
            height: 10px;
            background: url("./../../assets/img/dropdown/arrowdown/black.svg") no-repeat;
            position: absolute;
            transition: .8s;
        }
    }
    &__items {
        width: 100%;
        top: 50px;
        left: 0;
        right: 0;
        
        border-radius: 15px;

        font-size: 22px;
        
        background-color: $dropDownBG;

        overflow: hidden;
        position: absolute;
        
        z-index: 1;
        & div {
            
            cursor: pointer;
            width: 100%;
            height: 40px;
            line-height: 40px;

            color: $dropDownItemText;

            padding-left: 12px;
            user-select: none;
            &:hover {
                background-color: $dropDownHoverItemBG;
            }
        }
    }
}

.selectHide 
{
    display: none !important;
}

@media(max-width: 1050px)
{
    .customSelect__selected
    {
        font-size: 18px !important;
    }
    .customSelect__items 
    {
        font-size: 18px !important;
    }
}

@media(max-width: 650px)
{
    .customSelect 
    {
        height: 35px;
        &__selected
        {
            line-height: 35px;
            font-size: 17px !important;
        }
        &__items 
        {
            top: 45px;
            line-height: 35px;
            font-size: 17px !important;
        }
    }
}