@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.header 
{
    top: 0;
    width: 100%;
    height: 93px;
    z-index: 20;
    position: absolute;
    display: flex;
    background-color: $headerBG;
    justify-content: center;
    &__container
    {
        display: flex;
        justify-content: space-between;
        width: 94.6%;
        height: 100%;
        margin-left: 3%;
    }
    &__logo
    {
        width: 7%;
    }
    &__bar 
    {
        display: flex;
        height: 100%;
        width: 93%;
        &__container
        {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: center;
        }
        &__search 
        {
            width: 78%;
            height: 45px;
            position: relative;
            &__input
            {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                font-size: 24px;
                padding-left: 20px;
                background-color: $headerSearchBarBG;
            }
            &__button 
            {
                position: absolute;
                background: url('../../assets/img/searchicon.svg') no-repeat;
                width: 30px;
                height: 34px;
                top: 7.5px;
                right: -7px;
            }
        }
        &__subbar
        {
            display: flex;
            justify-content: space-between;
            width: 20%;
            &__createarticle
            {
                background-clip: content-box;
                background-color: $headerNewArticleBG;
                @include place-items-center;
                border-radius: 10px;
                width: 80%;
                height: 45px;
                & > p 
                {
                    font-size: 20px;
                    color: $headerNewArticleText;
                }
                transition: .4s;
                &:hover
                {
                    background-color: $headerNewArticleBGHover;
                }
            }
            &__select 
            {
                width: 60px;
                height: 45px;
                & > .selected
                {
                    height: 40px;
                    font-size: 25px !important;
                    &:after 
                    {
                        content: "";
                        top: 15px !important;
                        right: 0 !important;
                    }
                    
                }
                & .items
                {
                    & div 
                    {
                        height: 42px !important;
                        line-height: 42px !important;
                    }
                }
            }
            &__searchmobile
            {
                display: none;
            }
            &__createarticlemobile
            {
                display: none;
            }
            
        }
    }
    &__burger {
        cursor: pointer;
        z-index: 200000;
        position: relative;
        width: 70px;
        height: 70px;
        display: none;
    
        &__lines,&__lines::after,&__lines::before {
          position: absolute;
          width: 45px;
          height: 5px;
          background: $headerBurgerMenuButton;
        
        }
        &__lines {
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
    
        &__lines::after {
          content: '';
          top: 12px;
        }
        &__lines::before {
          content: '';
          top: -12px;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        width: 25%;
    }
}