@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.header 
{
    top: 0;
    width: 100%;
    height: 93px;
    z-index: 20;
    position: absolute;
    display: flex;
    background-color: $headerBG;
    justify-content: center;
    &__container
    {
        display: flex;
        justify-content: space-between;
        width: 94.6%;
        height: 100%;
        margin-left: 3%;
    }
    &__logo
    {
        width: 7%;
        transition: .5s;
        &:hover{
            transform: scale(1.03);
        }
    }
    &__bar 
    {
        display: flex;
        height: 100%;
        width: 93%;
        &__container
        {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: center;
        }
        &__search 
        {
            width: 78%;
            height: 45px;
            position: relative;
            &__input
            {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                font-size: 24px;
                padding-left: 20px;
                background-color: $headerSearchBarBG;
            }
            &__button 
            {
                position: absolute;
                background: url('../../assets/img/header/searchicon.svg') no-repeat;
                width: 30px;
                height: 34px;
                top: 7.5px;
                right: -7px;
            }
        }
        &__subbar
        {
            display: flex;
            justify-content: space-between;
            width: 20%;
            &__createarticle
            {
                font-family: Roboto-Regular;
                background-color: $headerNewArticleBG;
                border-radius: 15px;
                width: 80%;
                height: 45px;
                font-size: 18px;
                color: $headerNewArticleText;
                transition: .5s ease;

                text-align: center;
                line-height: 45px;
                &:hover
                {
                    transform: scale(1.03);
                    background-color: $headerNewArticleBGHover;
                }
            }
            &__select 
            {
                width: 60px;
                height: 45px;

                & .customSelect__selected
                {
                    border-radius: 6px;
                    padding-left: 6px;
                    height: 40px;
                    font-size: 25px !important;
                    background-color: transparent !important;
                    color: $headerDropDownItemTextSelected !important;
                    &__img
                    {
                        width: 16px;
                        height: 10px;
                        content: "";
                        background: url("./../../assets/img/dropdown/arrowdown/white.svg") no-repeat;
                        top: 16px !important;
                        right: 0 !important;
                    }
                }

                &.customSelect.open 
                {
                    border-radius: 6px;
                    & .customSelect__selected__img 
                    {
                        transform: rotateZ(180deg)
                    }
                }
                & > .customSelect__items
                {
                    top: 40px;
                    border-radius: 6px;
                    & div 
                    {
                        height: 42px !important;
                        line-height: 42px !important;
                        padding-left: 0;
                        text-align: center;
                    }
                }
            }
            &__searchmobile
            {
                display: none;
            }
            &__createarticlemobile
            {
                display: none;
            }
            
        }
    }
    &__burger {
        cursor: pointer;
        z-index: 200000;
        position: relative;
        width: 70px;
        height: 70px;
        display: none;
    
        &__lines,&__lines::after,&__lines::before {
          position: absolute;
          width: 45px;
          height: 5px;
          background: $headerBurgerMenuButton;
        
        }
        &__lines {
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
    
        &__lines::after {
          content: '';
          top: 12px;
        }
        &__lines::before {
          content: '';
          top: -12px;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        width: 25%;
    }
}