.sidebar
{
    position: absolute;
    
    height: 100%;
    width: 20%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    &__links 
    {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        &__link
        {
            font-size: 20px;
            padding-top: 6px;
            width: 83%;
            color: #000000;
            font-family: Roboto-Medium;
            transition: .2s;
            &:hover
            {
                color: #424242;
            }
            &.active
            {
                color: #575757;
            }
        }
    }
    &__linksfooter
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        &__link
        {
            font-size: 16px;
            padding-top: 6px;
            width: 83%;
            color: #4193f1;
            font-family: Roboto-Medium;
            transition: .2s;
            &:hover
            {
                color: #5ca8ff;
            }
        }
    }
}