@import "../../scss/vars.scss";
@import "../../scss/mixins.scss";

.sidebar
{
    position: fixed;
    
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    z-index: 14;
    &__links 
    {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        justify-content: center;
        align-items: center;
        width: 100%;
        &__link
        {
            font-size: 17px;
            line-height: 1.7;
            width: 83%;
            color: $sideBarLink;
            font-family: Roboto-Medium;
            transition: .2s;
            &:hover
            {
                color: $sideBarLinkHover;
            }
            &.active
            {
                color: $sideBarLinkActive;
            }
        }
        &__button
        {
            display: block;
            width: 180px;
            height: 40px;

            border-radius: 15px;
            font-size: 16px;
            background-color: transparent;

            text-align: center;
            line-height: 40px;
                    
            color: $ArticlesReadAllButtonText;
            border: 2px solid $ArticlesReadAllButtonBorder;

            margin-top: 10px;

            cursor: pointer;

            &.articleCommentsButton
            {
                color: $sidebarArticleCommentsButtonText;
                border: 2px solid $sidebarArticleCommentsButtonBorder;
            }
            &.backToArticleButton
            {
                color: $sidebarBackToArticleButtonText;
                border: 2px solid $sidebarBackToArticleButtonBorder;
            }
            &.rejectAllApproveButton
            {
                color: $sidebarRejectAllApproveButtonText;
                border: 2px solid $sidebarRejectAllApproveButtonBorder;
            }
            &.rejectAllPremoderateButton
            {
                color: $sidebarRejectAllPremoderateButtonText;
                border: 2px solid $sidebarRejectAllPremoderateButtonBorder;
            }
            transition: .4s;
            transform: scale(1.00);
            &:hover
            {
                transform: scale(1.05);
            }
        }
    }
    
    &__linksfooter
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        &__link
        {
            cursor: pointer;
            font-size: 16px;
            line-height: 2.1;
            width: 83%;
            color: $sideBarLinkFooter;
            font-family: Roboto-Regular;
            transition: .2s;
            &:hover
            {
                color: $sideBarLinkFooterHover;
            }
        }
    }
}

@media(min-width: 2020px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                width: 87%;
                font-size: 20px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                width: 87%;
                font-size: 17px;
            }
        }
    }
}

@media(min-width: 2220px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                width: 88%;
                font-size: 23px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                width: 88%;
                font-size: 19px;
            }
        }
    }
}

@media(min-width: 2420px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                width: 90%;
                font-size: 25px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                width: 90%;
                font-size: 21px;
            }
        }
    }
}

@media(max-width: 1780px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                width: 85%;
                font-size: 16px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                width: 85%;
                font-size: 15px;
            }
        }
    }
}

@media(max-width: 1680px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                width: 86%;
                font-size: 15px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                width: 86%;
                font-size: 15px;
            }
        }
    }
}

@media(max-width: 1580px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                width: 87%;
                font-size: 14px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                width: 87%;
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 1480px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                width: 88%;
                font-size: 13px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                width: 88%;
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 1380px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                width: 89%;
                font-size: 13px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                width: 89%;
                font-size: 14px;
            }
        }
    }
}

@media(max-width: 1280px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                font-size: 12px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                font-size: 13px;
            }
        }
    }
}

@media(max-width: 1180px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                font-size: 11.5px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                font-size: 12px;
            }
        }
    }
}


@media(max-width: 1100px)
{
    .sidebar
    {
        &__links 
        {
            &__link
            {
                font-size: 11px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                font-size: 11.5px;
            }
        }
    }
}

@media(max-width: 1050px)
{
    .sidebar
    {
        width: 55%;
        min-width: 280px;
        right: 0;
        left: inherit;

        background-color: $sideBarBG;
        border-left: 1px solid $sideBarBorderLeft;
        
        transform: translateX(100%);
        visibility: hidden;
        &.active
        {
            visibility: visible;
            transform: translateX(0);
        }

        &__links
        {
            margin-top: 55px;
            &__link
            {
                font-size: 17px;
                text-align: center;
            }
        }
        &__linksfooter
        {
            margin-bottom: 40px;
            &__link
            {
                font-size: 16px;
                text-align: center;
            }
        }
        transition: .4s;
    }
}

@media(max-height: 450px)
{
    .sidebar
    {
        &__links
        {
            &__link
            {
                font-size: 12px;
            }
        }
        &__linksfooter
        {
            &__link
            {
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 600px)
{
    .sidebar
    {
        &__links
        {
            &__link
            {
                font-size: 14px;
            }
        }
    }
}