.custom-select {
    position: relative;
    max-width: 100%;
    font-size: 1.15rem;
    color: #000;
}
  
.select-button {
    font-size: 1.15rem;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.selected-value {
    text-align: left;
}
  
.arrow {
    background: url("../img/svg/arrowdown.svg") no-repeat;
    width: 17px;
    height: 10px;
    transition: transform ease-in-out 0.3s;
    margin-top: 1px;
}
  
.select-dropdown {
    position: absolute;
    list-style: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
  
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
}
  
.select-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}
  
.select-dropdown-option {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    & label 
    {
        width: 100%;
        padding: 8px 10px;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}
  
.select-dropdown::-webkit-scrollbar {
    width: 7px;
}
.select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}
  
.select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}
  
.select-dropdown-option:hover,
.select-dropdown input:checked ~ label {
    background-color: #f2f2f2;
}
  
.select-dropdown input:focus ~ label {
    background-color: #dfdfdf;
}
  
.select-dropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}
  
.custom-select.active .arrow {
    transform: rotate(180deg);
}
  
.custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}