@import 'basic.scss';
@import 'custom_select.scss';

.header
{
  top:0;
  position: fixed;
  width: 100%;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg_hf;
  box-sizing: border-box;
  z-index: 100;
  &__logo
  {
    width: 11%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icon 
    {
      cursor: pointer;
      height: 100%;
      margin-left: 20%;
    }
  }
  &__bar 
  {
    width: 89%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__search
    {
      position: relative;
      width: 76%;
      height: 50px;
      &__input 
      {
        height: 50px;
        border-radius: 30px;
        width: 100%;
        font-size: 24px;
        padding-left: 23px;
        padding-right: 23px;
      }
      &__button 
      {
        position: absolute;
        background: url('../img/svg/searchicon.svg') no-repeat;
        width: 30px;
        height: 34px;
        top: 9px;
        right: -22px;
      }
    }
    &__subbar 
    {
      width: 20.5%;
      display: flex;
      align-items: center;
      &__searchmobile
      {
        width: 30px;
        height: 30px;
        display: none;
        border-radius: 5px;
        background-color: #f8f8f8;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__icon
        {
          width: 18px;
          height: 22px;
          background: url("../img/svg/searchiconsmall.svg") no-repeat;
        }
      }
      &__createarticlemobile
      {
        width: 30px;
        height: 30px;
        display: none;
        border-radius: 5px;
        background-color: #f8f8f8;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &__icon
        {
          width: 22px;
          height: 26px;
          background: url("../img/svg/createarticle.svg") no-repeat;
        }
      }
      
      &__select 
      {
        margin-left: 4%;
        &__button 
        {
          background-color: transparent;
          border: 0;
          width: 52px;
          font-size: 24px;
          color: #f8f8f8;
        }
        &__dropdown
        {
          &__option 
          {
            font-size: 24px;
            color: #131313;
          }
          padding: 0;
          width: 52px;
          top: 50%;
          right: 2%;
        }
      }
      &__createarticle
      {
        background-clip: content-box;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 73%;
        height: 50px;
        & > p 
        {
          font-size: 20px;
          color: #131313;
        }
      }
    }
  }
  
  &__burger {
    cursor: pointer;
    z-index: 200000;
    position: relative;
    width: 70px;
    height: 70px;
    display: none;

    &__lines,&__lines::after,&__lines::before {
      position: absolute;
      width: 45px;
      height: 5px;
      background: $headerburgermenu;
    
    }
    &__lines {
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }

    &__lines::after {
      content: '';
      top: 12px;
    }
    &__lines::before {
      content: '';
      top: -12px;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
}


@media (max-width: 1800px){
  .header
  {
    &__bar 
    {
      width: 88%;
      &__search
      {
        width: 74%;
      }
      &__subbar 
      {
        width: 22%;
        &__select 
        {
          margin-left: 3.5%;
        }
      }
    }
  }
}
@media (max-width: 1580px){
  .header
  {
    &__bar 
    {
      width: 87%;
      &__search
      {
        width: 69%;
      }
      &__subbar 
      {
        width: 26%;
        &__select 
        {
          margin-left: 3%;
        }
      }
    }
  }
}
@media (max-width: 1380px){
  .header {
    &__bar 
    {
      width: 87%;
      &__search
      {
        width: 65%;
      }
      &__subbar 
      {
        width: 30%;
        &__select 
        {
          margin-left: 3%;
        }
      }
    }
  }
}
@media (max-width: 1280px){
  .header {
    &__bar 
    {
      width: 87%;
      &__search
      {
        width: 62.5%;
      }
      &__subbar 
      {
        width: 31%;
        &__select 
        {
          margin-left: 3%;
        }
      }
    }
  }
}
@media (max-width: 1150px){
  .header {
    height: 70px;
    justify-content: space-between;
    &__menu {
      transition: 1s;
      transform: translateX(100%);
      &.active {
        transform: translateX(0);
      }
    }
    &__bar 
    {
      justify-content: end;
      &__search
      {
        display: none;
      }
      &__subbar 
      {
        
        width: 132px;
        justify-content: space-between;
        margin-right: 2px;
        &__createarticle
        {
          display: none;
        }
        &__searchmobile
        {
          display: flex;
        }
        &__createarticlemobile
        {
          display: flex;
        }
        &__select 
        {
          margin-left: 3%;
          &__button 
          {
            background-color: transparent;
            border: 0;
            width: 50px;
            font-size: 22px;
            color: #f8f8f8;
          }
          &__dropdown
          {
            &__option 
            {
              font-size: 22px;
              color: #131313;
            }
            padding: 0;
            width: 50px;
            top: 50%;
            right: 2%;
          }
        }
      }
    }
    &__burger {
      display: block;
      margin-right: 2%;
    }
    &__logo {
      width: 12%;
    }
    
    &__menu {
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      background-color: #2a35496e;
      border-left: #131313 solid 2px;
      width: 50%;
      height: 100%;
      z-index: 100000;
      justify-content: flex-start;
      align-items: center;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
}

@media (min-width: 1980px) and (min-height: 1080px){
  .header {
    &__logo{
      width: 8%;
    }
  }
}