@import "../../../scss/vars.scss";
@import "../../../scss/mixins.scss";

.form
{
    width: 440px;
    background-color: var(--AdminModalBG);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 15px;
    z-index: 40;
    &__title
    {
        margin-top: 8%;
        font-size: 38px;
        font-family: Roboto-Medium;
    }
    
    &__fields
    {
        width: 90%;

        margin-top: 1%;

        display: flex;
        flex-direction: column;
        align-items: center;

        &__field
        {
            width: 100%;

            margin-top: 4%;

            display: flex;
            flex-direction: column;
            align-items: center;

            &__title
            {
                text-align: center;
                font-size: 30px;
                font-family: Roboto-Medium;
                margin-bottom: 1.4%;
                &.small 
                {
                    font-size: 21px;
                }
            }

            &__input
            {
                width: 100%;
                height: 40px;
                
                font-size: 23px;

                border-radius: 15px;
                

                &.text
                {
                    background-color: var(--AdminModalInputTextBG);
                    color: var(--AdminModalInputTextText);
                    padding-left: 12px;
                    box-sizing: border-box;
                    -webkit-box-shadow: 0 0 0 1000px var(--AdminModalInputTextBG) inset !important;
                    outline: none;
                    &:active, &:focus, &:hover
                    {
                        color: var(--AdminModalInputTextText);
                        -webkit-box-shadow: 0 0 0 1000px var(--AdminModalInputTextBG) inset !important;
                        outline: none ;
                    }
                }

                &.number
                {
                    color: var(--AdminModalInputNumberText);
                    background-color: var(--AdminModalInputNumberBG);
                    width: 120px;
                    height: 35px;

                    & button
                    {
                        width: 27px;
                        cursor: pointer;
                        border-radius: 12px;
                        margin: 3px;
                        background-color: var(--AdminModalInputNumberButtonBG);

                        &:disabled
                        {
                            opacity: .9;
                        }
                        &::before
                        {
                            height: 2px !important;
                        }

                        &::after
                        {
                            width: 2px !important;
                        }
                    }
                    & input
                    {
                        border-radius: 15px;
                        height: 35px;
                        padding: 0 !important;
                        border: 1px solid var(--AdminModalInputNumberBorder);
                        color: var(--AdminModalInputNumberText);
                        background-color: var(--AdminModalInputNumberBG);
                        font-size: 16px;
                        text-align: center;
                        transition: .4s;
                        box-sizing: border-box;
                        &:hover
                        {
                            border: 1px solid var(--AdminModalInputNumberBorderHover);
                        }
                        &:focus
                        {
                            border: 1px solid var(--AdminModalInputNumberBorderFocus);
                        }
                    }
                }
            }
        }
    }

    &__checkbox
    {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        align-items: center;
        margin-top: 14%;

        & input 
        {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        &__checkmark 
        {
            position: absolute;
            top: 0;
            left: 0;
            height: 28px;
            width: 28px;
            background-color: var(--AdminModalCheckmark);
            transition: .3s;
            border-radius: 5px;
            &:after 
            {
                content: "";
                position: absolute;
                display: none;
            }
        }

        &:hover input ~ &__checkmark 
        {
            background-color: var(--AdminModalCheckmarkHover);
        }
        

        & input:checked ~ &__checkmark 
        {
            background-color: var(--AdminModalCheckmarkChecked);
        }
        & input:checked ~ &__checkmark:after 
        {
            display: block;
        }

        & &__checkmark:after 
        {
            left: 10px;
            top: 5px;
            width: 6px;
            height: 12px;
            border: solid var(--AdminModalCheckmarkCheckedIcon);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &__button
    {
        cursor: pointer;
        width: 80%;
        height: 60px;

        margin-top: 4%;
        
        background-color: transparent;
        
        transition: .6s;
        
        font-size: 26px;
        font-family: Roboto-Medium;
        border-radius: 15px;
        transform: scale(1.00);
        &:hover
        {
            transform: scale(1.04);
        }

        &.login
        {
            color: var(--AdminModalButtonText);
            border: 3px solid var(--AdminModalButtonBorder);
            margin-bottom: 5%;
        }
        &.saveSettings 
        {
            color: var(--AdminModalButtonTextSaveSettings);
            border: 3px solid var(--AdminModalButtonBorderSaveSettings);
        }
        &.quit 
        {
            color: var(--AdminModalButtonTextQuit);
            border: 3px solid var(--AdminModalButtonBorderQuit);
            margin-top: 3%;
            margin-bottom: 5%;
        }
    }
}

@media(min-width: 2200px)
{
    .form
    {
        width: 500px;
        border-radius: 18px;

        &__title
        {
            font-size: 42px;
        }
        
        &__fields
        {
            &__field
            {
                &__title
                {
                    font-size: 32px;
                }

                &__input
                {
                    height: 50px;
                    padding-left: 14px;
                    font-size: 25px;
                }
            }
        }
        &__button
        {
            border-radius: 18px;
            height: 70px;
            font-size: 28px;
        }
    }
}

@media(min-width: 2400px)
{
    .form
    {
        width: 580px;
        border-radius: 22px;

        &__title
        {
            font-size: 46px;
        }
        
        &__fields
        {
            &__field
            {
                &__title
                {
                    font-size: 35px;
                }

                &__input
                {
                    height: 55px;
                    font-size: 28px;
                }
            }
        }
        &__button
        {
            border-radius: 22px;
            border: 4px solid var(--AdminModalButtonBorder);
            height: 80px;
            font-size: 28px;
        }
    }
}

@media(min-width: 2600px)
{
    .form
    {
        width: 680px;
        border-radius: 25px;

        &__title
        {
            font-size: 52px;
        }
        
        &__fields
        {
            &__field
            {
                &__title
                {
                    font-size: 38px;
                }

                &__input
                {
                    height: 60px;
                    padding-left: 14px;
                    font-size: 31px;
                }
            }
        }
        &__button
        {
            border-radius: 25px;
            margin-top: 8%;
            height: 90px;
            border: 5px solid var(--AdminModalButtonBorder);
            font-size: 31px;
        }
    }
}

@media(max-width: 640px)
{
    .form
    {
        width: 400px;

        &__title
        {
            font-size: 33px;
        }
        
        &__fields
        {
            &__field
            {
                &__title
                {
                    font-size: 28px;
                }

                &__input
                {
                    font-size: 21px;
                }
            }
        }
        &__button
        {
            height: 50px;
            border: 2px solid var(--AdminModalButtonBorder);
            font-size: 24px;
        }
    }
}

@media(max-width: 480px)
{
    .form
    {
        width: 340px;

        &__title
        {
            font-size: 28px;
        }
        
        &__fields
        {
            &__field
            {
                &__title
                {
                    font-size: 25px;
                }

                &__input
                {
                    height: 32px;
                    font-size: 18px;
                }
            }
        }
        &__button
        {
            margin-top: 5%;
            border: 2px solid var(--AdminModalButtonBorder);
            font-size: 21px;
        }
    }
}

@media(max-width: 380px)
{
    .form
    {
        width: 280px;

        &__title
        {
            font-size: 24px;
        }
        
        &__fields
        {
            &__field
            {
                &__title
                {
                    font-size: 21px;
                }

                &__input
                {
                    font-size: 14px;
                }
            }
        }
        &__button
        {
            border: 2px solid var(--AdminModalButtonBorder);
            font-size: 18px;
        }
    }
}