@import "../../../scss/vars.scss";
@import "../../../scss/mixins.scss";

.main
{
    justify-content: start !important;
    &__article
    {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: relative;
        background-color: transparent;
        &__title
        {
            font-size: 40px;
            text-align: center;
        }
        &__info
        {
            height: 210px;
            width: 100%;
            background-color: $ArticleEditInfoBG;
            border-radius: 15px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            &__statistics
            {
                width: 100%;
                height: 45%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                
                &__statistic
                {
                    width: 18%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    
                    &__title
                    {
                        font-size: 20px;
                    }
                }
            }
            &__statusesContainer
            {
                width: 96%;
                height: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__status
                {
                    padding-top: 5px;
                    display: flex;
                    
                    align-items: center;

                    & div
                    {
                        display: flex;
                        align-items: center;
                    }
                    & img
                    {
                        padding-left: 3px;
                        width: 25px;
                        height: 25px;
                    }
                    & p
                    {
                        padding-left: 3px;
                        font-size: 18px;
                    }
                }
                &__selectVersion
                {
                    width: 200px;
                    align-self: flex-end;
                }
            }
        }

        &__block
        {
            margin-top: 14px;
            width: 100%;
            border-radius: 15px;
            background-color: $ArticleEditBlockBG;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            &__subblock
            {
                width: 70%;
                display: flex;
                justify-content: space-between;
            }
            &__title
            {
                margin-top: 14px;
                width: 96%;
                color: $ArticleEditBlockTitle;
                font-size: 21px;
                &.linkForViewArticle
                {
                    width: auto;
                }
            }
            &__button
            {
                cursor: pointer;
                margin-top: 10px;
                margin-bottom: 14px;

                height: 50px;
                
                background-color: transparent;
                transition: .6s;
                
                font-size: 25px;
                border-radius: 15px;
                transform: scale(1.00);
                &:hover
                {
                    transform: scale(1.04);
                }
                &.requestApproveArticleButton
                {
                    width: 100px;
                    color: $ArticleEditRequestApproveArticleButton;
                    border: 3px solid $ArticleEditRequestApproveArticleButtonBorder;
                }

                &.acceptArticleApprovedWithChangesButton
                {
                    width: 180px;
                    color: $ArticleEditAcceptArticleApprovedWithChangesButton;
                    border: 3px solid $ArticleEditAcceptArticleApprovedWithChangesButtonBorder;
                }
                &.rejectArticleApprovedWithChangesButton
                {
                    width: 180px;
                    color: $ArticleEditRejectArticleApprovedWithChangesButton;
                    border: 3px solid $ArticleEditRejectArticleApprovedWithChangesButtonBorder;
                }
            }
            &__link
            {
                width: 95%;
                height: 56px;
                position: relative;
                box-sizing: border-box;
                margin-top: 16px;
                margin-bottom: 16px;
                &__input
                {
                    width: 100%;
                    height: 100%;
                    padding-left: 12px;
                    font-size: 23px;

                    background-color: $InfoModalWithLinkInputBG;
                    color: $InfoModalWithLinkInputText;
                    font-family: Roboto-Regular;

                    border-radius: 15px;
                    box-sizing: border-box;
                    padding-left: 13px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                }
                &__copyButton
                {
                    cursor: pointer;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    top: 0;
                    right: 0;
                    width: 56px;
                    height: 56px;

                    background-color: $InfoModalWithLinkInputCopyButtonBG;
                    &__icon
                    {
                        width: 60%;
                        height: 60%;
                    }
                }
            }
        }
        &__previewContainer
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 14px;

            background-color: $ArticleViewArticleBG;

            box-sizing: border-box;
            border-radius: 15px;

            position: relative;

            &__preview
            {
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }
        }
        &__editorContainer
        {
            width: 100%;
            min-height: 620px;
            
            margin-top: 14px;

            border-radius: 15px;
            position: relative;
            &__editor
            {
                width: 100%;
                height: 100%;
                min-height: 620px;
                border-radius: 15px;
            }
            &__sendButton
            {
                position: absolute;
                right: 20px;
                bottom: 40px;
                width: 260px;
                height: 45px;
                border-radius: 20px;
                background-color: $ArticleEditSendButtonBG;
                color: $ArticleEditSendButtonText;
                font-size: 18px;
                font-family: Roboto-Regular;
                transition: .5s;
                line-height: normal;
                transform: scale(1.00);
                &:hover
                {
                    cursor: pointer;
                    transform: scale(1.04);
                    background-color: $ArticleEditSendButtonHoverBG;
                }
            }
        }
        
        &__editTags
        {
            margin-top: 14px;
            width: 100%;
            border-radius: 15px;
            background-color: $ArticleEditEditTagsBG;
            padding: 0px 12px 12px 12px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &__tags
            {
                display: flex;
                flex-wrap: wrap;
                &__tag
                {
                    height: 40px;
                    min-width: 80px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    box-sizing: border-box;
                    background-color: $ArticleEditEditTagsTagBG;
                    border-radius: 17px;
                    margin-right: 10px;
                    margin-top: 12px;
                    padding-left: 12px;
                    

                    &__button
                    {
                        & p
                        {
                            font-size: 44px;
                            line-height: 0;
                            transform: rotate(45deg);
                            font-weight: 400;
                            font-family: Arial, Helvetica, sans-serif;
                            color: $ArticleEditEditTagsRemoveTagButtonText;
                        }
                        margin-left: 6px;
                        width: 40px;
                        height: 40px;

                        border-radius: 17px;

                        background-color: $ArticleEditEditTagsRemoveTagButtonBG;
                        text-align: center;
                        transition: .5s;
                        
                        &:hover
                        {
                            cursor: pointer;
                            background-color: $ArticleEditEditTagsRemoveTagButtonHoverBG;
                        }
                    }
                }
            }
            &__addTag
            {
                margin-top: 12px;
                width: 210px;
                height: 45px;
                position: relative;
                border-radius: 20px;

                &__input
                {
                    width: 100%;
                    height: 100%;
                    background-color: $ArticleEditEditTagsAddTagInputBG;
                    border-radius: 20px;
                    padding-left: 14px;
                    
                    color: $ArticleEditEditTagsAddTagInputText;
                    font-size: 20px;
                    font-family: Roboto-Regular;

                    box-sizing: border-box;

                    &::placeholder
                    {
                        color: $ArticleEditEditTagsAddTagInputPlaceholderText;
                    }
                }
                &__button
                {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 45px;
                    height: 45px;
                    border-radius: 20px;
                    background-color: $ArticleEditEditTagsAddTagButtonBG;
                    color: $ArticleEditEditTagsAddTagButtonText;
                    line-height: 0;
                    text-align: center;
                    font-size: 44px;
                    transition: .5s;
                    font-weight: 400;
                    font-family: Arial, Helvetica, sans-serif;
                    &:hover
                    {
                        cursor: pointer;
                        background-color: $ArticleEditEditTagsAddTagButtonHoverBG;
                    }
                }
            }
        }
    }
}

@media(min-height: 1100px)
{
    .main
    {
        &__article
        {
            &__editorContainer
            {
                min-height: 780px;
                &__editor
                {
                    min-height: 780px;
                }
            }
        }
    }
}

@media(min-height: 1300px)
{
    .main
    {
        &__article
        {
            &__editorContainer
            {
                min-height: 880px;
                &__editor
                {
                    min-height: 880px;
                }
            }
        }
    }
}

@media(min-height: 1500px)
{
    .main
    {
        &__article
        {
            &__editorContainer
            {
                min-height: 1080px;
                &__editor
                {
                    min-height: 1080px;
                }
            }
        }
    }
}


@media(max-width: 1050px)
{
    .main
    {
        &__article
        {
            width: 90%;
        }
    }
}

@media(max-width: 800px)
{
    .main
    {
        &__article
        {
            &__title
            {
                font-size: 36px;
            }
            &__block
            {
                &__subblock
                {
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                }
                &__title
                {
                    font-size: 18px;
                }
                &__button
                {   
                    margin-top: 3px;
                    min-width: 90px;
                    height: 50px;
                    font-size: 22px;
                    &.requestApproveArticleButton
                    {
                        width: 90px;
                    }

                    &.acceptArticleApprovedWithChangesButton
                    {
                        width: 170px;
                    }
                    &.rejectArticleApprovedWithChangesButton
                    {
                        width: 170px;
                    }
                }
            }
        }
    }
}

@media(max-width: 680px)
{
    .main
    {
        &__article
        {
            &__title
            {
                font-size: 32px;
            }
            &__info
            {
                &__statistics
                {
                    &__statistic
                    {
                        &__title
                        {
                            font-size: 17px;
                        }
                    }
                }
                &__statusesContainer
                {
                    &__status
                    {
                        padding-top: 4px;
                        & p
                        {
                            font-size: 16px;
                        }
                    }
                    &__selectVersion
                    {
                        width: 160px;
                        align-self: auto;
                    }
                }
            }
            &__block
            {
                &__title
                {
                    font-size: 16px;
                }
                &__button
                {   
                    margin-top: 8px;
                    height: 40px;
                    font-size: 20px;

                    &.requestApproveArticleButton
                    {
                        width: 75px;
                    }

                    &.acceptArticleApprovedWithChangesButton
                    {
                        width: 160px;
                    }
                    &.rejectArticleApprovedWithChangesButton
                    {
                        width: 160px;
                    }
                }
            }
        }
    }
}

@media(max-width: 580px)
{
    .main
    {
        &__article
        {
            &__title
            {
                font-size: 26px;
            }
            &__info
            {
                &__statistics
                {
                    &__statistic
                    {
                        &__title
                        {
                            font-size: 16px;
                        }
                    }
                }
                &__statusesContainer
                {
                    &__status
                    {
                        padding-top: 3px;
                        & p
                        {
                            font-size: 14px;
                        }
                    }
                    &__selectVersion
                    {
                        width: 115px;
                        align-self: auto;
                    }
                }
            }
            &__block
            {
                &__title
                {
                    font-size: 15px;
                }
                &__button
                {   
                    font-size: 19px;

                    &.acceptArticleApprovedWithChangesButton
                    {
                        width: 140px;
                    }
                    &.rejectArticleApprovedWithChangesButton
                    {
                        width: 140px;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px)
{
    .main
    {
        &__article
        {
            &__info
            {
                height: 480px;

                &__statistics
                {
                    flex-direction: column;
                    &__statistic
                    {
                        &__title
                        {
                            font-size: 24px;
                        }
                    }
                }
                &__statusesContainer
                {
                    flex-direction: column;
                    &__status
                    {
                        flex-direction: column;
                        margin-top: 12px;
                        padding-top: 3px;
                        & p
                        {
                            font-size: 15px;
                        }
                    }
                    &__selectVersion
                    {
                        width: 180px;
                        align-self: auto;
                    }
                }
            }
            &__block
            {
                &__title
                {
                    font-size: 14px;
                }
                &__button
                {   
                    font-size: 18px;
                }
            }
        }
    }
}