@import "../../../scss/vars.scss";
@import "../../../scss/mixins.scss";

.main
{
    height: auto;
    &__article
    {
        height: 100%;
        width: 60%;
        position: relative;

        background-color: transparent;

        &__editorContainer
        {
            height: 100%;
            width: 100%;
            min-height: 700px;
            border-radius: 15px;
            position: relative;

            &__title
            {
                height: 45px;
                width: 100%;
                border-radius: 15px;
                padding: 11px;
                font-size: 20px;
            }

            &__editor
            {
                margin-top: 14px;
                min-height: 700px;
                width: 100%;
                height: auto;
                border-radius: 15px;
            }
            &__sendButton
            {
                position: absolute;
                right: 20px;
                bottom: 15px;
                width: 180px;
                height: 45px;
                border-radius: 20px;
                background-color: var(--ArticleNewSendButtonBG);
                border: 2px solid var(--ArticleNewSendButtonBorder);
                color: var(--ArticleNewSendButtonText);
                font-size: 18px;
                font-family: Roboto-Regular;
                transition: .6s;
                line-height: normal;
                transform: scale(1.00);
                &:hover
                {
                    cursor: pointer;
                    transform: scale(1.04);
                    background-color: var(--ArticleNewSendButtonHoverBG);
                    color: var(--ArticleNewSendButtonHoverText);
                    border: 2px solid var(--ArticleNewSendButtonHoverBorder);
                }
            }
        }
        &__editTags
        {
            margin-top: 14px;
            width: 100%;
            border-radius: 15px;
            background-color: var(--ArticleNewEditTagsBG);
            padding: 0px 12px 12px 12px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &__tags
            {
                display: flex;
                flex-wrap: wrap;
                &__tag
                {
                    height: 40px;
                    min-width: 80px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    box-sizing: border-box;
                    background-color: var(--ArticleNewEditTagsTagBG);
                    border-radius: 17px;
                    margin-right: 10px;
                    margin-top: 12px;
                    padding-left: 12px;
                    

                    &__button
                    {
                        & > p
                        {
                            font-size: 44px;
                            line-height: 0;
                            transform: rotate(45deg);
                            font-weight: 400;
                            font-family: Arial, Helvetica, sans-serif;
                            color: var(--ArticleNewEditTagsRemoveTagButtonText);
                        }
                        margin-left: 8px;
                        width: 40px;
                        height: 40px;

                        border-radius: 17px;

                        background-color: var(--ArticleNewEditTagsRemoveTagButtonBG);
                        text-align: center;
                        transition: .5s;
                        
                        &:hover
                        {
                            cursor: pointer;
                            background-color: var(--ArticleNewEditTagsRemoveTagButtonHoverBG);
                        }
                    }
                }
            }
            &__addTag
            {
                margin-top: 12px;
                width: 210px;
                height: 45px;
                position: relative;
                border-radius: 20px;

                &__input
                {
                    width: 100%;
                    height: 100%;
                    background-color: var(--ArticleNewEditTagsAddTagInputBG);
                    border-radius: 20px;
                    padding-left: 14px;
                    
                    color: var(--ArticleNewEditTagsAddTagInputText);
                    font-size: 20px;
                    font-family: Roboto-Regular;

                    box-sizing: border-box;

                    &::placeholder
                    {
                        color: var(--ArticleNewEditTagsAddTagInputPlaceholderText);
                    }
                }
                &__button
                {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 45px;
                    height: 45px;
                    border-radius: 20px;
                    background-color: var(--ArticleNewEditTagsAddTagButtonBG);
                    color: var(--ArticleNewEditTagsAddTagButtonText);
                    line-height: 0;
                    text-align: center;
                    font-size: 44px;
                    transition: .5s;
                    font-weight: 400;
                    font-family: Arial, Helvetica, sans-serif;
                    &:hover
                    {
                        cursor: pointer;
                        background-color: var(--ArticleNewEditTagsAddTagButtonHoverBG);
                    }
                }
            }
        }
    }
}

@media(min-height: 1100px)
{
    .main
    {
        &__article
        {
            &__editorContainer
            {
                min-height: 920px;
                &__editor
                {
                    min-height: 920px;
                }
            }
        }
    }
}

@media(min-height: 1300px)
{
    .main
    {
        &__article
        {
            &__editorContainer
            {
                min-height: 1080px;
                &__editor
                {
                    min-height: 1080px;
                }
            }
        }
    }
}

@media(min-height: 1500px)
{
    .main
    {
        &__article
        {
            &__editorContainer
            {
                min-height: 1280px;
                &__editor
                {
                    min-height: 1280px;
                }
            }
        }
    }
}

@media(max-width: 1050px)
{
    .main
    {
        &__article
        {
            width: 90%;
        }
    }
}