@import "../../../scss/vars.scss";
@import "../../../scss/mixins.scss";

.main
{
    &__article
    {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: relative;
        background-color: transparent;
        &__title
        {
            font-size: 40px;
            text-align: center;
        }
        &__editorContainer
        {
            margin-top: 14px;
            min-height: 620px;
            width: 100%;
            border-radius: 15px;
            position: relative;
            &__editor
            {
                width: 100%;
                height: 100%;
                min-height: 620px;
                border-radius: 15px;
            }
            &__sendButton
            {
                position: absolute;
                right: 20px;
                bottom: 40px;
                width: 260px;
                height: 45px;
                border-radius: 20px;
                background-color: $ArticleEditSendButtonBG;
                color: $ArticleEditSendButtonText;
                font-size: 18px;
                font-family: Roboto-Regular;
                transition: .5s;
                line-height: normal;
                transform: scale(1.00);
                &:hover
                {
                    cursor: pointer;
                    transform: scale(1.04);
                    background-color: $ArticleEditSendButtonHoverBG;
                }
            }
        }
        
        &__editTags
        {
            margin-top: 14px;
            width: 100%;
            border-radius: 15px;
            background-color: $ArticleEditEditTagsBG;
            padding: 0px 12px 12px 12px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &__tags
            {
                display: flex;
                flex-wrap: wrap;
                &__tag
                {
                    height: 40px;
                    min-width: 80px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    box-sizing: border-box;
                    background-color: $ArticleEditEditTagsTagBG;
                    border-radius: 17px;
                    margin-right: 10px;
                    margin-top: 12px;
                    padding-left: 12px;
                    

                    &__button
                    {
                        & > p
                        {
                            font-size: 44px;
                            line-height: 0;
                            transform: rotate(45deg);
                            font-weight: 400;
                            font-family: Arial, Helvetica, sans-serif;
                            color: $ArticleEditEditTagsRemoveTagButtonText;
                        }
                        margin-left: 6px;
                        width: 40px;
                        height: 40px;

                        border-radius: 17px;

                        background-color: $ArticleEditEditTagsRemoveTagButtonBG;
                        text-align: center;
                        transition: .5s;
                        
                        &:hover
                        {
                            cursor: pointer;
                            background-color: $ArticleEditEditTagsRemoveTagButtonHoverBG;
                        }
                    }
                }
            }
            &__addTag
            {
                margin-top: 12px;
                width: 210px;
                height: 45px;
                position: relative;
                border-radius: 20px;

                &__input
                {
                    width: 100%;
                    height: 100%;
                    background-color: $ArticleEditEditTagsAddTagInputBG;
                    border-radius: 20px;
                    padding-left: 14px;
                    
                    color: $ArticleEditEditTagsAddTagInputText;
                    font-size: 20px;
                    font-family: Roboto-Regular;

                    box-sizing: border-box;

                    &::placeholder
                    {
                        color: $ArticleEditEditTagsAddTagInputPlaceholderText;
                    }
                }
                &__button
                {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 45px;
                    height: 45px;
                    border-radius: 20px;
                    background-color: $ArticleEditEditTagsAddTagButtonBG;
                    color: $ArticleEditEditTagsAddTagButtonText;
                    line-height: 0;
                    text-align: center;
                    font-size: 44px;
                    transition: .5s;
                    font-weight: 400;
                    font-family: Arial, Helvetica, sans-serif;
                    &:hover
                    {
                        cursor: pointer;
                        background-color: $ArticleEditEditTagsAddTagButtonHoverBG;
                    }
                }
            }
        }
        &__captcha
        {
            margin-top: 2%;
        }
    }
}

@media(min-height: 1100px)
{
    .main
    {
        &__article
        {
            &__editorContainer
            {
                min-height: 780px;
                &__editor
                {
                    min-height: 780px;
                }
            }
        }
    }
}

@media(min-height: 1300px)
{
    .main
    {
        &__article
        {
            &__editorContainer
            {
                min-height: 880px;
                &__editor
                {
                    min-height: 880px;
                }
            }
        }
    }
}

@media(min-height: 1500px)
{
    .main
    {
        &__article
        {
            &__editorContainer
            {
                min-height: 1080px;
                &__editor
                {
                    min-height: 1080px;
                }
            }
        }
    }
}


@media(max-width: 1050px)
{
    .main
    {
        &__article
        {
            width: 90%;
        }
    }
}

@media(max-width: 800px)
{
    .main
    {
        &__article
        {
            &__title
            {
                font-size: 36px;
            }
        }
    }
}

@media(max-width: 680px)
{
    .main
    {
        &__article
        {
            &__title
            {
                font-size: 32px;
            }
        }
    }
}

@media(max-width: 580px)
{
    .main
    {
        &__article
        {
            &__title
            {
                font-size: 26px;
            }
        }
    }
}
