@import "../../../scss/vars.scss";
@import "../../../scss/mixins.scss";

.main
{
    margin-top: 7%;
    &__article
    {
        
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        
        border-radius: 15px;

        position: relative;
        &__previewContainer
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 620px;

            background-color: $articleViewArticleBG;

            box-sizing: border-box;
            border-radius: 15px;


            position: relative;

            &__titleTime
            {
                position: absolute;
                width: 220px;
                line-height: 40px;
                left: 25px;
                top: 13px;
                font-size: 22px;
                font-family: Roboto-Regular;
                color: $articleViewArticleTitleTime;
                z-index: 2;
            }

            &__preview
            {
                padding-top: 0.8%;
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }

            &__tags
            {
                width: 95%;
                font-size: 20px;
                color: $articleViewTagsText;
            }

            &__reactions
            {
                width: 94%;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__statistics
                {
                    display: flex;
                    align-items: center;
                    &__title
                    {
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 20px;
                        font-family: Roboto-Regular;
                    }
                    &__icon
                    {
                        cursor: pointer;
                    }
                    & .dislikeIcon
                    {
                        margin-left: 17px;
                    }
                    & .shareIcon
                    {
                        margin-left: 3px;
                    }
                }
                &__comments
                {
                    display: flex;
                    align-items: center;
                    &__icon
                    {
                        cursor: pointer;
                    }
                    &__title
                    {
                        margin-left: 8px;
                        font-size: 20px;
                        font-family: Roboto-Regular;
                    }
                }
            }

            &__selectVersion
            {
                position: absolute;
                width: 220px;
                right: 25px;
                top: 15px;
            }
        }

        &__comments
        {
            width: 100%;
            background-color: $articleViewCommentsBG;
            border-radius: 15px;
            margin-top: 1.4%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__header
            {
                display: flex;
                margin-top: 1%;
                width: 96%;
                justify-content: space-between;
                align-items: center;
                &__title
                {
                    font-size: 20px;
                    font-family: Roboto-Regular;
                }
                &__sort
                {
                    &__title
                    {
                        font-size: 20px;
                        font-family: Roboto-Regular;

                        margin-right: 8px;

                        color: $articleViewCommentsText;
                    }
                    display: flex;
                    align-items: center;
                    &__selectSortType
                    {
                        width: 240px;
                    }
                }
                
            }
            &__newComment
            {
                width: 97%;
                margin-top: 1%;
                margin-bottom: 2%;
                position: relative;
                &__editor
                {
                    width: 100%;
                    height: auto !important;
                    min-height: 240px;
                    border-radius: 15px;
                }
                &__sendButton
                {
                    cursor: pointer;
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    transition: .3s;
                    &:hover
                    {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}